*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width:80%;
    height: 100vh;
    background-color: #ffff;
    gap: 29px;
    margin: auto;
    position: relative;
}

div{
    background-color: #fffafa;
}
.nav-mainu{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    margin-top: 80px;
}
.nav-item ul{
    display: inline;
    display: flex;
}
.nav-item ul li{
    margin-left: 60px;
}
.nav-item ul li a{
    color: #6c6767;
    font-weight: 600;
    transition: all 1s;
}
.nav-item ul li a:hover{
    color: red;
    font-weight: 620;
}
.hero-container{
    position: absolute;
    width: 100%;
    top: 400px;
    display: flex;
    gap: 10%;
}
.hero-content{
    width: 45%;
    height: 500px;
    justify-content: flex-start;
}
.hero-content h1{
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}
.hero-content p{
    line-height: 30px;
    font-weight: 520;
}
.hero-btn{
    width: 200px;
    height: 50px;
    background-color: #ffe100;
    border: none;
    margin-top: 50px;
    font-weight: 800;
    font-size: 18px;
    border-radius: 2px;
}
.hero-img{
    width: 45%;
   background-image: url(./image/cover);
    background-repeat: no-repeat;
    height: 538px;
}